<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Users</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div>
    <div th:if="${contains}">User exist</div>
    <div th:unless="${contains}">
        <div>User does not exit</div>
        <form action="/create" method="post">
            <input hidden placeholder="Login" th:value="${login}" name="login" type="text">
            <input hidden placeholder="Password" th:value="${password}" name="password" type="text">
            <button type="submit">Add new user?</button>
        </form>
    </div>
    <ol>
        <li th:each="user : ${users}" th:text="${user}"></li>
    </ol>
    <div>
        <a href="/">to login</a>
    </div>
</div>

</body>
</html>
